[user]
  name = scyclow
  email = spike716@gmail.com
[pull]
  rebase = true
[push]
  default = upstream
[color]
  diff = auto
  status = auto
  branch = auto
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[alias]
  ci = commit
  co = checkout
  s  = status
  b  = branch
  d  = diff
  ds = diff --staged
  l  = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  ln = log --name-status
  rsh = reset --soft HEAD^
  rim = rebase -i master
